---
import FAQPage from '../components/FAQPage.vue';
import '../assets/styles/main.css';
---

<html>
  <head>
    <meta charset="UTF-8">
    <title>FAQ</title>
  </head>
  <body>
    <div id="faq">
      <!-- SSR render of Vue component -->
      <FAQPage />
    </div>
  </body>
</html>
