---
import faqPage from '../components/faqPage.vue';
---

<html>
  <head>
    <title>FAQ</title>
  </head>
  <body>
    <div id="faq">
      <h1>FAQ</h1>
      <!-- SSR render of Vue component -->
      <faqPage />
    </div>
  </body>
</html>
