---
import CoinsList from '../components/CoinsList.vue';
import '../assets/styles/main.css';
---

<html>
  <head>
    <meta charset="UTF-8">
    <title>Home</title>
  </head>
  <body>
  <CoinsList client:load/>
  </body>
</html>
