---
import CoinsList from '../components/CoinsList.vue'
import '../assets/styles/main.css'
---

<html>
  <head>
    <meta charset="UTF-8" />
    <title>Home</title>
  </head>
  <body>
    <header class="container" style="padding-inline: 40px; padding-bottom: 0;">
      <a href="/faq" class="btn" style="max-width: 150px;"> سوالات متداول </a>
    </header>
    <CoinsList client:load />
  </body>
</html>
