@import './base.css';

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  font-weight: normal;
}

ul{
  list-style: none;
}

.bg-success{
  background-color: #affad5;
}

.bg-error{
  background-color: #ffb2b3;
}

.text-success{
  color: #008236;
}
.text-error{
  color: #C10007;
}

.bg-primary{
  background-color: #5a4bd2;
}

.text-primary{
  color: #5a4bd2;
}

.container {
  width: clamp(300px, 100%, 600px);
  margin-inline: auto;
  padding: 40px 0;
}